// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Настройка стилей по умолчанию
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

$fontFamily: "Montserrat"; // Шрифт по умолчанию
$fontSize: 14; // Размер шрифта по умолчанию (где 16 - размер шрифта по макету)

// Основные цвета
$mainColor: #000; // Цвет шрифта по умолчанию

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Настройка адаптивной сетки
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1920;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 0;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 30;

// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейкпоинты
$pc: $containerWidth; // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: 991.98; // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: 767.98; // Телефоны L
$mobileSmall: 479.98; // Телефоны S

// Тип адаптива:
// 1 = отзывчивость (у контейнера нет брейкпоинтов),
// 2 = по брейкпоинтам (контейнер меняет свою ширину по брейкпоинтам)
$responsiveType: 1;

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------


// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Переменные
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
$colorWhite: #fff;
$colorDarkGray: #6f6f6f;
$colorLightGray: #f5f5f5;
$colorBlue: #4170b4;
$colorOrange: #f7931e;
$colorLightOrange: #fbb03b;
$colorPurple: #b26eaa;
$colorBlur: rgba(246, 246, 246, 0.6);

$maxHeightMobileLandscape: 500px;
//$widthMinMobile: 321px;
$mobileMediumWidth: 376px;
$mobileClassicWidth: 426px;
$tabletWidth: 768px;
$desctopSmallWidth: 1024px;
$desctopLargeWidth: 1440px;

// Миксин задает цвет и блюр
@mixin blur($color){
   background: $colorBlur;
   backdrop-filter: blur(20px);
   -webkit-backdrop-filter: blur(10px);
}
