<script type="module" src="@components/pages/home/home.js"></script>
<link rel="stylesheet" href="@components/pages/home/home.scss">

<main class="page page--home">
	<block name="cover">
		<include src="@components/layout/cover/cover.html" locals='{}'></include>
	</block>
   <block name="welcomeTxt">
		<include src="@components/layout/welcomeTxt/welcomeTxt.html" locals='{}'></include>
	</block>
   <block name="tile_6x3">
		<include src="@components/layout/tile_6x3/tile_6x3.html" locals='{}'></include>
	</block>
   <block name="advantages">
		<include src="@components/layout/advantages/advantages.html" locals='{}'></include>
	</block>
   <block name="goods">
		<include src="@components/layout/goods/goods.html" locals='{}'></include>
	</block>
   <block name="technologies">
		<include src="@components/layout/technologies/technologies.html" locals='{}'></include>
	</block>
   <block name="pageDescription">
		<include src="@components/layout/pageDescription/pageDescription.html" locals='{}'></include>
	</block>
   <block name="leftSideBar">
		<include src="@components/layout/leftSideBar/leftSideBar.html" locals='{}'></include>
	</block>
   <block name="navigation">
		<include src="@components/layout/navigation/navigation.html" locals='{}'></include>
	</block>
</main>
